.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: #242038;
  position: sticky;
  top: 50px;
}

.sidebarWrapper {
  padding: 20px;
  color: white;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
  color: white;
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.link {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin: 5px 0px;
}

.notlink {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 5px 0px;
}

.link.active{
  background-color: #9d8cf7;
  color: white;
}

.notlink:hover,
.sidebarListItem:hover {
  background-color: rgb(157, 140, 247);
  color: white;
  border-radius: 20px;
}

.sidebarIcon{
  margin-right: 5px;
  font-size: 20px !important;
}
